# Conditions, Control Flow & Looping

## Intro if statement

In [3]:
x = 3
y = 2

if x < y:
    print('yes1')
    
if y < x:
    print('Yes2')
    
if x:
    print('yes3')

if y:
    print('yes4')
    
if 'el' in 'helmi':
    print('yes5')
    
if 'Rei' in ['helmi', 'saifullah','mansur']:
    print('yes6')

Yes2
yes3
yes4
yes5

## grouping statements: indentation and blocks

In [6]:
if 'jkt' in ['bnk', 'akb', 'jkt']:
    print('outer cond is true')
    
    if 10 > 20:
        print('inner condition 1')
        
    print('between inner condition')
    
    if 10<20:
        print('inner condition 2')
        
    print('end of outer cond')
print('after outer cond')

outer cond is true
between inner condition
inner condition 2
end of outer cond
after outer cond

In [15]:
#if else statement

x = 1
if x < 2:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')
    
print('='*10)

x = 3
if x < 2:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')
    
print('='*10)

permen = 500
choco = 2200
uang = 1000

if uang > choco:
    print('beli choco')
else:
    print('beli permen')
    
print('='*10)

#if elif
permen = 500
choco = 2200
uang = 1000

if uang > choco:
    print('beli choco')
elif uang < choco:
    print('beli permen')
else:
    print('pulang gih ga cukup')
    
print('='*10)

if 'a' in 'sal':
    print('oyi')
elif 1/0:
    print('g mungkin')
elif var:
    print('apalagi ini')
    
print('='*10)

if 'a' in 'sal': print('s'); print('a'); print('l')
    
if 'i' in 'sal': print('s'); print('a'); print('l')
    
print('='*10)

x=2
if x==1: print('s'); print('a'); print('l')
elif x==2: print('s'); print('a')
else: print('s')

(first suite)
x is small
==========
(second suite)
x is large
==========
beli permen
==========
beli permen
==========
oyi
==========
s
a
l
==========
s
a

## conditional expressions

In [25]:
raining=True
print('kuy ke', 'pantai' if not raining else 'mall')

print('='*10)

umur = 21
a = 'teen' if umur < 20 else 'adult'
a

#'ya' if ('hel' in ['hel', 'sal']) else 'no'

kuy ke mall
==========

'adult'

## python pass stat

In [26]:
if True:
    pass
print('hey')

hey

## python while loop

In [28]:
a = 1
while a<6:
    print(a)
    a+=1

1
2
3
4
5

## python break & continue stat

In [29]:
n = 5
while n > 0:
    n-= 1
    if n==2:
        break
    print(n)
print('selesai')

4
3
selesai

In [30]:
n = 5
while n > 0:
    n-= 1
    if n==2:
        continue
    print(n)
print('selesai')

4
3
1
0
selesai

## else clause

In [31]:
n = 5
while n > 0:
    n-= 1
    print(n)
else:
    print('selesai')

4
3
2
1
0
selesai

In [32]:
n = 5
while n > 0:
    n-= 1
    print(n)
    if n==2:
        break
else:
    print('selesai')

4
3
2

## infnite loops

In [35]:
umur = int(input('masukan umur :'))
gend = input('masukkan gender:')

if umur < 18:
    if gend == 'M':
        print('anak lk')
    else:
        print('anak pr')
elif umur >= 18 and umur < 65:
    if gend == 'M':
        print('ayah')
    else:
        print('ibu')
else:
    if gend == 'M':
        print('kakek')
    else:
        print('nenek')

masukan umur :23
masukkan gender:M
ayah

In [39]:
a = ['hel', 'mi']
while len(a):
    print(a.pop(0))
    
    b = ['py', 'thon']
    while len(b):
        print('>', b.pop(0))

hel
> py
> thon
mi
> py
> thon

## one-line while loops

In [40]:
n=5
while n>0: n-=1; print(n)

4
3
2
1
0

## python for loop

In [41]:
a = ['hel', 'mi']
for i in a:
    print(i)

hel
mi

In [46]:
a = {'hel':1, 'mi':2}
for i in a:
    print(i)
    
for i in a:
    print(a[i])
    
for i in a.values():
    print(i)
    
for i, v in a.items():
    print(i, ";", v)

hel
mi
1
2
1
2
hel ; 1
mi ; 2

## the range() function

In [47]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

## altering for loop behavior

In [48]:
for i in  ['hel', 'mi','good']:
    if 'm' in i:
        break
    print(i)

hel

In [49]:
for i in  ['hel', 'mi','good']:
    if 'm' in i:
        continue
    print(i)

hel
good

In [50]:
for i in  ['hel', 'mi','good']:
    print(i)
else:
    print('done')

hel
mi
good
done

In [51]:
for i in  ['hel', 'mi','good']:
    if i == 'mi':
        break
    print(i)
else:
    print('done')

hel

## contoh penggunaan

In [53]:
temp = input('temperatur yg ingin dikonversi, eg. 45F, 120C: ')
degree = int(temp[:-1])
i_convert = temp[-1]

if i_convert == "C":
    result = int(round((9*degree)/ 5 + 32))
elif i_convert == "F":
    result = int(round((degree - 32) * 5/9))
else:
    print('masukkan input yg benar')
    
print('temperaturnya adalah', result, 'derajat')

temperatur yg ingin dikonversi, eg. 45F, 120C: 45F
temperaturnya adalah 7 derajat

In [55]:
while True:
    msg= input('masukkan karakter: ').lower()
    print(msg)
    if msg == "stop":
        break

masukkan karakter: RUN
run
masukkan karakter: STOP
stop

In [3]:
angka=20
if angka%2==0:
    print('angka ini bilangan genap')
else:
    print('angka termasuk bilangan ganjil')

angka ini bilangan genap